<!DOCTYPE html>
<html lang="en">
<body>

    <head>
    <title>

    </title>
     <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap" rel="stylesheet">
    </head>

     <center>
        <p style="border:solid white 10px; background-color:white; color:black; font-size:20px; font-family:helvetica; margin: 50px 100px 10px">
           REGISTERED REVIEWS
        </p>
        <p style="margin:10px; font-size:14px;">
           {{x}}
        <br>
        <p style="border:solid white 10px; background-color:white; color:black; font-size:20px; font-family:helvetica; margin: 50px 100px 10px">
           RAW BOOKS REVIEW
        </p>
        <p style="margin:10px; font-size:14px">
           {{z}}
        <br>
        <p style="border:solid white 10px; background-color:white; color:black; font-size:20px; font-family:helvetica; margin: 50px 100px 10px">
           REVIEW RESULT PARSER
        </p>
        <p style="margin:10px; font-size:14px">
           {{f}}
        <br>
        <p style="border:solid white 10px; background-color:white; color:black; font-size:20px; font-family:helvetica; margin: 50px 100px 10px">
           GUTENDEX BOOKS JSON
        </p>
        <p style="margin:10px; font-size:14px">
           {{y}}
        <br>
        <p style="border:solid white 10px; background-color:white; color:black; font-size:20px; font-family:helvetica; margin: 50px 100px 10px">
           PAGINATION
        </p>
        <p style="margin:10px; font-size:14px">
            {{result}}
            {{raw_next}}
            {{raw_prev}}
        <br>

        </p>
     </center>
</body>
</html>
